/* 

print CSS document
print.css
client: Example
author: Atlantic BT - www.atlanticbt.com
date: 3-09-07

*/


/*======================================
	=Main Styles
======================================*/

body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif; 								
	color: #000;
	text-align: left;
	font-size: 9pt;  
}



/*======================================
	=Typography Styles
======================================*/

p { }
	#content p { line-height: 1.2em; margin: 1em 0; }

a:link, a:visited {	color: blue; text-decoration: none; }

	#site-info a:link:after, #site-info a:visited:after,
	#content a:link:after, #content a:visited:after {
		content: " (" attr(href) ") ";
	}
	
	abbr:after, acronym:after {
		content: " (" attr(title) ")";
	}
	
	
h1, h2, h3 { clear: both; }

.top-link, #top-link, #skip-link, #skip-nav { display: none; }
	
hr { margin-top: 20px; }



/*======================================
	=Other Element Styles
======================================*/
		
img { border: 0 }



/*======================================
	=Layout, =Page, and =Nav Styles
======================================*/
		
#main-area, #site-info {
	clear: both;
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #fff; /* prevent margin collapse */
}
	
	#flash-area, #navigation, #epic-nav, #masthead h4, #secondary-content,
	#scrollbar { display: none; }
